
.titlePag {
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.cards {
  height: 470px;
  margin: 10px;
  position: relative;
}

.cards .cardImg {
  width: 100%;
  height: 200px;
}
.cards .cardButton {
  width: 80%;
  position: absolute;
  bottom: 10px;
 
  left: 10%;
}



